<mat-toolbar class="color">
<span class="text">Calendar</span>

<div  style="margin: 20px;">
<div style="display: flex; justify-content: space-between; align-items: center;">
<div class="day" style="display: flex; align-items: center;">
  <button mat-button (click)="opendialog()">click</button>

  <mat-select class="select" [(value)]="view" >
  <mat-option value="month">Month</mat-option>
  <mat-option value="week">week</mat-option>
  <mat-option value="day">Day</mat-option>
</mat-select>
<button mat-button (click)="viewDate = subPeriod()"> < </button>
{{viewDate | date:'fullDate'}}
<button mat-button (click)="viewDate = addPeriod()">  > </button>
</div>


</div>
</div>
</mat-toolbar>
<ng-container class="back" [ngSwitch]="view">
<mwl-calendar-month-view
     *ngSwitchCase="'month'"
     [viewDate]="viewDate"
     [events]="events"
     
     >
  
</mwl-calendar-month-view>
<mwl-calendar-week-view
     *ngSwitchCase="'week'"
     [viewDate]="viewDate"
     [events]="events">
</mwl-calendar-week-view>
<mwl-calendar-day-view
     *ngSwitchCase="'day'"
     [viewDate]="viewDate"
     [events]="events">
</mwl-calendar-day-view>
</ng-container>

